# Pandas

We have seen Numpy in the last section. It is good at performing math operation on 2d-arrays of numbers. But the major drawback is, it cannot deal with heterogenous values. So, Pandas dataframes are helpful in that aspect for storing different data types and referring the values like a dict in python instead of just referring each item with index.

[Link to Official Documentation](http://pandas.pydata.org/pandas-docs/version/0.23/dsintro.html)

## Series

Pandas series are almost same as nd arrays in numpy, with a additional inferencing ability with custom labels like *keys* in a *dictionary* in python.

In [4]:
import numpy as np
import pandas as pd

In [2]:
#Example

series2 = pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])
series2

key1    1
key2    2
key3    3
dtype: int64

### Question 1

Convert a given dict to pd series.

[**Hint:** Use **.Series**]

In [2]:
givendict = {: 'red', 'drink':'wine', 'result':'success'}
series3 = pd.Series(givendict)
print(series3)

You can directly use numpy functions on series.
### Question 2

Find the dot product of both the series create above


[ **Hint:** Use **np.dot()** ]

In [2]:
np.dot(series2, series3)

## Dataframes

A dataframe is a table with labeled columns which can hold different types of data in each column.

In [5]:
# Example
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

### Question 3

Select second row in the above dataframe df1.

In [6]:
df1.iloc[1]

a    2
b    4
c    7
Name: 1, dtype: int64

### Question 4

Select column c in second row of df1.

[ **Hint:** For using labels use **df.loc[row, column]**. For using numeric indexed use **df.iloc[]**. For using mixture of numeric indexes and labels use **df.ix[row, column]** ]

In [7]:
df1.loc[1, 'c']

7

## Using Dataframes on a dataset

##### Using the mtcars dataset.

For the below set of questions, we will be using the cars data from [Motor Trend Car Road Tests](http://stat.ethz.ch/R-manual/R-devel/library/datasets/html/mtcars.html)

The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973â€“74 models). 


Details :
    
A data frame with 32 observations on 11 (numeric) variables.

[, 1] 	mpg 	Miles/(US) gallon

[, 2] 	cyl 	Number of cylinders

[, 3] 	disp 	Displacement (cu.in.)

[, 4] 	hp 	Gross horsepower

[, 5] 	drat 	Rear axle ratio

[, 6] 	wt 	Weight (1000 lbs)

[, 7] 	qsec 	1/4 mile time

[, 8] 	vs 	Engine (0 = V-shaped, 1 = straight)

[, 9] 	am 	Transmission (0 = automatic, 1 = manual)

[,10] 	gear 	Number of forward gears

[,11] 	carb 	Number of carburetors

In [13]:
## Reading a dataset from a csv file using pandas.
mtcars = pd.read_csv('mtcars.csv')
mtcars.index = mtcars['name']
mtcars

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
name,,,,,,,,,,,,
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

Following questions are based on analysing a particular dataset using dataframes.

### Question 5

Check the type and dimensions of given dataset - mtcars.


[ **Hint: ** Use **type()** and **df.shape** ]

In [14]:
for item in mtcars.iteritems():
    print(item)

('name', name
Mazda RX4                        Mazda RX4
Mazda RX4 Wag                Mazda RX4 Wag
Datsun 710                      Datsun 710
Hornet 4 Drive              Hornet 4 Drive
Hornet Sportabout        Hornet Sportabout
Valiant                            Valiant
Duster 360                      Duster 360
Merc 240D                        Merc 240D
Merc 230                          Merc 230
Merc 280                          Merc 280
Merc 280C                        Merc 280C
Merc 450SE                      Merc 450SE
Merc 450SL                      Merc 450SL
Merc 450SLC                    Merc 450SLC
Cadillac Fleetwood      Cadillac Fleetwood
Lincoln Continental    Lincoln Continental
Chrysler Imperial        Chrysler Imperial
Fiat 128                          Fiat 128
Honda Civic                    Honda Civic
Toyota Corolla              Toyota Corolla
Toyota Corona                Toyota Corona
Dodge Challenger          Dodge Challenger
AMC Javelin                    AMC Javelin
Camaro Z28                      Camaro Z28
Pontiac Firebird          Pontiac Firebird
Fiat X1-9                        Fiat X1-9
Porsche 914-2                Porsche 914-2
Lotus Europa                  Lotus Europa
Ford Pantera L              Ford Pantera L
Ferrari Dino                  Ferrari Dino
Maserati Bora                Maserati Bora
Volvo 142E                      Volvo 142E
Name: name, dtype: object)
('mpg', name
Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64)
('cyl', name
Mazda RX4              6
Mazda RX4 Wag          6
Datsun 710             4
Hornet 4 Drive         6
Hornet Sportabout      8
Valiant                6
Duster 360             8
Merc 240D              4
Merc 230               4
Merc 280               6
Merc 280C              6
Merc 450SE             8
Merc 450SL             8
Merc 450SLC            8
Cadillac Fleetwood     8
Lincoln Continental    8
Chrysler Imperial      8
Fiat 128               4
Honda Civic            4
Toyota Corolla         4
Toyota Corona          4
Dodge Challenger       8
AMC Javelin            8
Camaro Z28             8
Pontiac Firebird       8
Fiat X1-9              4
Porsche 914-2          4
Lotus Europa           4
Ford Pantera L         8
Ferrari Dino           6
Maserati Bora          8
Volvo 142E             4
Name: cyl, dtype: int64)
('disp', name
Mazda RX4              160.0
Mazda RX4 Wag          160.0
Datsun 710             108.0
Hornet 4 Drive         258.0
Hornet Sportabout      360.0
Valiant                225.0
Duster 360             360.0
Merc 240D              146.7
Merc 230               140.8
Merc 280               167.6
Merc 280C              167.6
Merc 450SE             275.8
Merc 450SL             275.8
Merc 450SLC            275.8
Cadillac Fleetwood     472.0
Lincoln Continental    460.0
Chrysler Imperial      440.0
Fiat 128                78.7
Honda Civic             75.7
Toyota Corolla          71.1
Toyota Corona          120.1
Dodge Challenger       318.0
AMC Javelin            304.0
Camaro Z28             350.0
Pontiac Firebird       400.0
Fiat X1-9               79.0
Porsche 914-2          120.3
Lotus Europa            95.1
Ford Pantera L         351.0
Ferrari Dino           145.0
Maserati Bora          301.0
Volvo 142E             121.0
Name: disp, dtype: float64)
('hp', name
Mazda RX4              110
Mazda RX4 Wag          110
Datsun 710              93
Hornet 4 Drive         110
Hornet Sportabout      175
Valiant                105
Duster 360             245
Merc 240D               62
Merc 230                95
Merc 280               123
Merc 280C              123
Merc 450SE             180
Merc 450SL             180
Merc 450SLC            180
Cadillac Fleetwood     205
Lincoln Continental    215
Chrysler Imperial      230
Fiat 128                66
Honda Civic             52
Toyota Corolla          65
Toyota Corona           97
Dodge Challenger       150
AMC Javelin            150
Camaro Z28             245
Pontiac Firebird       175
Fiat X1-9               66
Porsche 914-2           91
Lotus Europa           113
Ford Pantera L         264
Ferrari Dino           175
Maserati Bora          335
Volvo 142E             109
Name: hp, dtype: int64)
('drat', name
Mazda RX4              3.90
Mazda RX4 Wag          3.90
Datsun 710             3.85
Hornet 4 Drive         3.08
Hornet Sportabout      3.15
Valiant                2.76
Duster 360             3.21
Merc 240D              3.69
Merc 230               3.92
Merc 280               3.92
Merc 280C              3.92
Merc 450SE             3.07
Merc 450SL             3.07
Merc 450SLC            3.07
Cadillac Fleetwood     2.93
Lincoln Continental    3.00
Chrysler Imperial      3.23
Fiat 128               4.08
Honda Civic            4.93
Toyota Corolla         4.22
Toyota Corona          3.70
Dodge Challenger       2.76
AMC Javelin            3.15
Camaro Z28             3.73
Pontiac Firebird       3.08
Fiat X1-9              4.08
Porsche 914-2          4.43
Lotus Europa           3.77
Ford Pantera L         4.22
Ferrari Dino           3.62
Maserati Bora          3.54
Volvo 142E             4.11
Name: drat, dtype: float64)
('wt', name
Mazda RX4              2.620
Mazda RX4 Wag          2.875
Datsun 710             2.320
Hornet 4 Drive         3.215
Hornet Sportabout      3.440
Valiant                3.460
Duster 360             3.570
Merc 240D              3.190
Merc 230               3.150
Merc 280               3.440
Merc 280C              3.440
Merc 450SE             4.070
Merc 450SL             3.730
Merc 450SLC            3.780
Cadillac Fleetwood     5.250
Lincoln Continental    5.424
Chrysler Imperial      5.345
Fiat 128               2.200
Honda Civic            1.615
Toyota Corolla         1.835
Toyota Corona          2.465
Dodge Challenger       3.520
AMC Javelin            3.435
Camaro Z28             3.840
Pontiac Firebird       3.845
Fiat X1-9              1.935
Porsche 914-2          2.140
Lotus Europa           1.513
Ford Pantera L         3.170
Ferrari Dino           2.770
Maserati Bora          3.570
Volvo 142E             2.780
Name: wt, dtype: float64)
('qsec', name
Mazda RX4              16.46
Mazda RX4 Wag          17.02
Datsun 710             18.61
Hornet 4 Drive         19.44
Hornet Sportabout      17.02
Valiant                20.22
Duster 360             15.84
Merc 240D              20.00
Merc 230               22.90
Merc 280               18.30
Merc 280C              18.90
Merc 450SE             17.40
Merc 450SL             17.60
Merc 450SLC            18.00
Cadillac Fleetwood     17.98
Lincoln Continental    17.82
Chrysler Imperial      17.42
Fiat 128               19.47
Honda Civic            18.52
Toyota Corolla         19.90
Toyota Corona          20.01
Dodge Challenger       16.87
AMC Javelin            17.30
Camaro Z28             15.41
Pontiac Firebird       17.05
Fiat X1-9              18.90
Porsche 914-2          16.70
Lotus Europa           16.90
Ford Pantera L         14.50
Ferrari Dino           15.50
Maserati Bora          14.60
Volvo 142E             18.60
Name: qsec, dtype: float64)
('vs', name
Mazda RX4              0
Mazda RX4 Wag          0
Datsun 710             1
Hornet 4 Drive         1
Hornet Sportabout      0
Valiant                1
Duster 360             0
Merc 240D              1
Merc 230               1
Merc 280               1
Merc 280C              1
Merc 450SE             0
Merc 450SL             0
Merc 450SLC            0
Cadillac Fleetwood     0
Lincoln Continental    0
Chrysler Imperial      0
Fiat 128               1
Honda Civic            1
Toyota Corolla         1
Toyota Corona          1
Dodge Challenger       0
AMC Javelin            0
Camaro Z28             0
Pontiac Firebird       0
Fiat X1-9              1
Porsche 914-2          0
Lotus Europa           1
Ford Pantera L         0
Ferrari Dino           0
Maserati Bora          0
Volvo 142E             1
Name: vs, dtype: int64)
('am', name
Mazda RX4              1
Mazda RX4 Wag          1
Datsun 710             1
Hornet 4 Drive         0
Hornet Sportabout      0
Valiant                0
Duster 360             0
Merc 240D              0
Merc 230               0
Merc 280               0
Merc 280C              0
Merc 450SE             0
Merc 450SL             0
Merc 450SLC            0
Cadillac Fleetwood     0
Lincoln Continental    0
Chrysler Imperial      0
Fiat 128               1
Honda Civic            1
Toyota Corolla         1
Toyota Corona          0
Dodge Challenger       0
AMC Javelin            0
Camaro Z28             0
Pontiac Firebird       0
Fiat X1-9              1
Porsche 914-2          1
Lotus Europa           1
Ford Pantera L         1
Ferrari Dino           1
Maserati Bora          1
Volvo 142E             1
Name: am, dtype: int64)
('gear', name
Mazda RX4              4
Mazda RX4 Wag          4
Datsun 710             4
Hornet 4 Drive         3
Hornet Sportabout      3
Valiant                3
Duster 360             3
Merc 240D              4
Merc 230               4
Merc 280               4
Merc 280C              4
Merc 450SE             3
Merc 450SL             3
Merc 450SLC            3
Cadillac Fleetwood     3
Lincoln Continental    3
Chrysler Imperial      3
Fiat 128               4
Honda Civic            4
Toyota Corolla         4
Toyota Corona          3
Dodge Challenger       3
AMC Javelin            3
Camaro Z28             3
Pontiac Firebird       3
Fiat X1-9              4
Porsche 914-2          5
Lotus Europa           5
Ford Pantera L         5
Ferrari Dino           5
Maserati Bora          5
Volvo 142E             4
Name: gear, dtype: int64)
('carb', name
Mazda RX4              4
Mazda RX4 Wag          4
Datsun 710             1
Hornet 4 Drive         1
Hornet Sportabout      2
Valiant                1
Duster 360             4
Merc 240D              2
Merc 230               2
Merc 280               4
Merc 280C              4
Merc 450SE             3
Merc 450SL             3
Merc 450SLC            3
Cadillac Fleetwood     4
Lincoln Continental    4
Chrysler Imperial      4
Fiat 128               1
Honda Civic            2
Toyota Corolla         1
Toyota Corona          1
Dodge Challenger       2
AMC Javelin            2
Camaro Z28             4
Pontiac Firebird       2
Fiat X1-9              1
Porsche 914-2          2
Lotus Europa           2
Ford Pantera L         4
Ferrari Dino           6
Maserati Bora          8
Volvo 142E             2
Name: carb, dtype: int64)

### Question 6

Check the first 10 lines and last 10 lines of the given dataset- mtcars.

[**Hint:** Use **.head()** and **.tail()**]

In [16]:
mtcars.head(10)
mtcars.tail(10)

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
name,,,,,,,,,,,,
AMC Javelin,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

### Question 7

Print all the column labels in the given dataset - mtcars.

[ **Hint: ** Use **df.columns** ]

In [17]:
mtcars.columns

Index(['name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

### Question 8

Select first 6 rows and 3 columns in mtcars dataframe.

**Hint: **  
mtcars.iloc[:,:] gives all rows and columns in the dataset.

In [4]:
mtcars.iloc[:6,:3]

### Question 9

Select rows from name **Mazda RX4** to **Valiant** in the mtcars dataset and display only mpg and cyl values of those cars. 

**Hint:** Use df **.iloc[rows,columns]**

In [18]:
mtcars.loc['Mazda RX4':'Valiant', 'mpg':'cyl']

                    mpg  cyl
name
Mazda RX4          21.0    6
Mazda RX4 Wag      21.0    6
Datsun 710         22.8    4
Hornet 4 Drive     21.4    6
Hornet Sportabout  18.7    8
Valiant            18.1    6

### Question 10

- Sort the dataframe by mpg (i.e. miles/gallon).
- Hint: Use sort_values() function.

In [19]:
mtcars.sort_values(by='mpg')

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
name,,,,,,,,,,,,
Lincoln Continental,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Cadillac Fleetwood,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Camaro Z28,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Duster 360,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Chrysler Imperial,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Maserati Bora,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Merc 450SLC,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
AMC Javelin,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Dodge Challenger,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
Ford Pantera L,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Merc 450SE,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 280C,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Valiant,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Merc 280,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Pontiac Firebird,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Ferrari Dino,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Volvo 142E,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
Toyota Corona,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Merc 230,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Datsun 710,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Merc 240D,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Porsche 914-2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Fiat X1-9,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Lotus Europa,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Honda Civic,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Fiat 128,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Toyota Corolla,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1